{% extends "base.html"  %}
{% load crispy_forms_tags %}
{% block title %}User delete{% endblock title %}
{% block body %}
    <h1>Удалить пользователя "{{ user.username }}"</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }} 
        <button type="submit" class='btn btn-danger'>Да</button>
        <a href="{% url 'user:users' %}" class="btn btn-success">Нет</a>
        <!-- <button type="submit" value="Cancel">Нет</button> -->
    </form>
{% endblock body %}