{% extends "base.html"  %}
{% block title %}Book list{% endblock title %}
{% block body %}
    <h1>Список книг</h1>
    <a href="?filter=all" class="btn btn-success">Все</a><br>
    <a href="?filter=av" class="btn btn-warning">Доступные к заказу</a><br>
    <a href="?filter=not_av" class="btn btn-danger">Недоступные к заказу</a><br>
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Название книги</th>
              <th scope="col">Заведена</th>
              <th scope="col">Рейтинг</th>
              <th scope="col">Изменить</th>
              <th scope="col">Удалить</th>
              <th scope="col">Корзина</th>
            </tr>
          </thead>
          <tbody>
            {% for book in page_obj %}
            <tr>
              <th scope="row">{{ book.pk }}</th>
              <td><a href="{% url 'book:book' book.pk %}">{{ book.name }}</a></td>
              <td><a href="#">{{ book.created }}</a></td>
              <td><a href="#">{{ book.rating }}</a></td>
              <td><a href="{% url 'book:book-update' book.pk %}"><b>Изменить</b></a></td>
              <td><a href="{% url 'book:book-delete' book.pk %}"><b>Удалить</b></a></td>
              <td><a href="{% url 'cart:cart-edit' %}?book_id={{ book.pk }}"><b>Добавить в корзину</b></a></td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
    
    <!--<div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; Первая</a>
              <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
          {% endif %}
  
          <span class="current">
              Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
          {% endif %}
      </span>
    </div> -->

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        {% for page_num in paginator.page_range %}
          <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>

    <a href="{% url 'book:book-create' %}"> <b>Добавить книгу</b></a> <br>
    <br>
    <a href='{% url 'main-page' %}'>Назад на домашнюю страницу</a> 
{% endblock body %}