<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
    <li>'MSQ': <a href='/MSQ'>"MINSK, BELARUS"</a></li>
    <li>'DME': <a href='/DME'>"MOSCOW, RUSSIA"</a></li>
    <li>'VKO': <a href='/VKO'>"MOSCOW, RUSSIA"</a></li>
    <li>'VLN': <a href='/VLN'>"VALENCIA, VENEZUELA"</a></li>
    <li>'VNO': <a href='/VNO'>"VILNIUS, LITHUANIA"</a></li>
    <li>'RIX': <a href='/RIX'>"RIGA, LATVIA"</a></li>
    <li>'WAW': <a href='/WAW'>"WARSAW, POLAND"</a></li>
    <li>'UXH': <a href='/UXH'>"KIEV, UKRAINE"</a></li>
    <li>'ODS': <a href='/ODS'>"ODESSA, UKRAINE"</a></li>
    <li>'LWO': <a href='/LWO'>"LVOV, UKRAINE"</a></li>
    <li>'HAJ': <a href='/HAJ'>"HANNOVER, GERMANY"</a></li>
    <li>'HAM': <a href='/HAM'>"HAMBURG, GERMANY"</a></li>
    <li>'VVO': <a href='/VVO'>"VLADIVOSTOK, RUSSIA"</a></li>
    <li>'VOZ': <a href='/VOZ'>"VORONEZH, RUSSIA"</a></li>
    <li>'TOF': <a href='/TOF'>"TOMSK, RUSSIA"</a></li>
    <li>'SGC': <a href='/SGC'>"SURGUT, RUSSIA"</a></li>
    <li>'PEE': <a href='/PEE'>"PERM, RUSSIA"</a></li>
    <li>'BQT': <a href='/BQT'>"BREST, BELARUS"</a></li>
    <li>'GME': <a href='/GME'>"GOMEL, BELARUS"</a></li>
    <li>'GNA': <a href='/GNA'>"GRODNO, BELARUS"</a></li>
    <li>'MVQ': <a href='/MVQ'>"MOGILEV, BELARUS"</a></li>
    <li>'VTB': <a href='/VTB'>"VITEBSK, BELARUS"</a></li>
</ul>
</body>
</html>