{% extends "base.html"  %}
{% block title %}Genre list{% endblock title %}
{% block body %}
    <h1>Список жанров</h1>
    <ul>
        {% for genre in genre_list %}
            <li><b>{{ forloop.counter }}) Жанр №{{ genre.pk }}: </b><a href="{% url 'genre:genre' genre.pk %}">{{ genre }}</a>
            <a href="{% url 'genre:genre-update' genre.pk %}"><b> | Изменить</b></a>
            <a href="{% url 'genre:genre-delete' genre.pk %}"><b> | Удалить</b></a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'genre:genre-create' %}"> <b>Добавить жанр</b></a> <br>
    <br>
    <a href='{% url 'main-page' %}'>Назад к списку справочников</a> 
{% endblock body %}