{% extends "base.html"  %}
{% block title %}Serie list{% endblock title %}
{% block body %}
    <h1>Список серий книг</h1>
    <ul>
        {% for serie in serie_list %}
            <li><b>{{ forloop.counter }}) Серия книг №{{ serie.pk }}: </b><a href="{% url 'serie:serie' serie.pk %}">{{ serie }}</a>
            <a href="{% url 'serie:serie-update' serie.pk %}"><b> | Изменить</b></a>
            <a href="{% url 'serie:serie-delete' serie.pk %}"><b> | Удалить</b></a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'serie:serie-create' %}"> <b>Добавить новую серию книг</b></a> <br>
    <br>
    <a href='{% url 'admin' %}'>Назад к списку справочников</a> 
{% endblock body %}