{% extends "base.html"  %}
{% load template_tags %}
{% block title %}Order detail{% endblock title %}
{% block body %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Заказ №{{ order.pk }}</h5>
        <p class="card-text">
          <ul>
            <li><b>Создан:</b> {{ order.created }}</li>
            <li><b>Статус:</b> {{ order.status.order_status }}</li>
            <li><b>Заказчик:</b> {{ order.cart.customer }}</li>
            <li><b>Контактная информация:</b> {{ order.contact_info }}</li>
            <li><b>Телефон:</b> {{ order.phone }}</li>
            {% show_comments %}


            <!--<li><b>Автор(ы):</b>
              <ul>
                {% for author in book.author.all %}
                  <li> {{ author }} </li>
                {% endfor %}
              </ul>
            </li>-->
          </ul>
        </p>
      </div>
    </div>
    <a href="{% url 'order:order-update' order.pk %}">Обновить заказ</a>
    <a href="{% url 'order:orders' %}">Назад к списку заказов</a>
{% endblock body %}