{% extends "base.html"  %}
{% block title %}Order list{% endblock title %}
{% block body %}
    <h1>Список заказов</h1>
    <form class="d-flex" action="{% url 'order:orders' %}">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
    </form>
    <br>
    <a href="?filter=all" class="btn btn-primary">Все</a>
    <a href="?filter=new" class="btn btn-danger">Новые</a>
    <a href="?filter=paid" class="btn btn-warning">Оплаченные</a>
    <a href="?filter=in_pr" class="btn btn-secondary">В обработке</a>
    <a href="?filter=prd" class="btn btn-dark">Обработанные</a>
    <a href="?filter=dlvrd" class="btn btn-success">Доставленные</a>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Номер заказа</th>
              <th scope="col">Заказчик</th>
              <th scope="col">Статус заказа</th>
              <th scope="col">Создан</th>
              <th scope="col">Изменить</th>
              <th scope="col">Удалить</th>
            </tr>
          </thead>
          <tbody>
            {% for order in order_list %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><a href="{% url 'order:order' order.pk %}">{{ order.pk }}</a></td>
              <td><a href="{% url 'user:user' user.pk %}">{{ order.cart.customer }}</a></td>
              <td><a href="#">{{ order.status }}</a></td>
              <td><a href="#">{{ order.created }}</a></td>
              <td><a href="{% url 'order:order-update' order.pk %}"><b>Изменить</b></a></td>
              <td><a href="{% url 'order:order-delete' order.pk %}"><b>Удалить</b></a></td>
            </tr>
            {% endfor %}
          </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}
          {% for page_num in paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% endif %}
        </ul>
    </nav>

    <a href="{% url 'order:create-order' %}" class="btn btn-light" role="button"> <b>Добавить заказ</b></a> <br>
    <br>
    <a href='{% url 'admin' %}' class="btn btn-info" role="button">Назад на административный портал</a>
{% endblock body %}